/*===============================================
	[SASS DIRECTORY ]
	
   [1] PAGE ACCOUNT
   [2] PAGE INFORMATION
   [3] PAGE CHECKOUT
   [4] LANGUAGE CURENTY 
	[5] CSS FEAFURE MENU DEMO
==============================================*/
#content > h1{font-size: 20px; color: $gray-dark;}

/*============PAGE ACCOUNT ==================*/
.breadcrumb{display: none;}

.account-account,
.affiliate-account{
   #content > h2{@include rem(font-size, 16px);}
   #content .list-unstyled{margin-bottom: 30px;}
}

.account-address{
   #content .table-responsive{
      .table>tbody>tr>td{ line-height: 24px;padding: 10px;}
   }
}
.custom-border{
    border: 1px solid #eee;
    padding: 10px 20px;
}

/* @group List Box */
.list-box {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.btn-link:focus, .btn-link:hover{
    text-decoration: none;
}
.dropdown-menu > li > button{
    padding: 5px 15px;
}
.list-box li{border-bottom: 1px solid #ececec;}
.list-box li:last-child{border-bottom: 0;}
.list-box li a{
    display: inline-block;
    word-wrap: break-word;
    padding: 8px 0;
    margin-right: 5px;
	 @include linkGray();
}
/* @end */
/*============PAGE INFORMATION ==================*/
.simple-list {
	margin:0;
	padding:0;
	list-style-type:none
}
.bold-list>li>a {
	font-weight:700;
	text-transform:uppercase;
	@include linkGray();
}
.simple-list ul {
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	bottom:-.8em
}
.simple-list li {
	margin:0;
	padding:0 0 12px
}
.simple-list  ul a{@include linkGray();}
.simple-list .checkbox{padding-left:0}
.simple-list .checkbox input[type=checkbox]{margin-#{$right} :10px}
.simple-list .icon {
	margin-right:9px
}
.arrow-list li {position:relative}
.arrow-list li:before {
	margin-#{$right}:10px;
        font-size: 14px;
        font-family: $FontAwesome;
        display: inline-block;
        content: if-ltr('\f105', '\f104');;
}


/*============PAGE CHECKOUT ==================*/
.checkout-cart, .checkout-checkout{
    .panel-group .panel{border-radius: 0;}
}
.table-responsive{
    .table{
        thead > *{ background-color: rgba(51,51,51,0.1); font-weight: bold;}
        tbody td.text-left{
            a{font-weight: bold; color: $textBody;}
            &:hover a{color: $linkColor;}
        }
    }
   
}


/*============LANGUAGE CURENTY ==================*/
.btn-group .btn-link{
	text-align: $left;
	background: transparent ;
	text-decoration: none;
	padding: 5px 10px;
	color: #2d2d2d;
	font-weight: normal;
	position: relative;z-index: 1;
    &:hover{
        color: $linkColor;
    }
}
.dropdown-menu{ 
	.btn-block{
		border: none;
		background: transparent;
		text-align: $left;
		&:hover{background: #f7f7f7;}
	}
}


/************************************************************************************************
    BLOCK MYACCOUT
*************************************************************************************************/
.tab-account{
	.well{border: none;padding: 0;background: none;box-shadow: none;}
	.social_login {padding: 15px 0;text-align: center; clear: both; display: block;}
	input[type="submit"]{
		 margin: 10px 0;
		@extend .buttonsn;
		min-width: 100px;
		padding: 0 15px;
	}
    .icon-custom{
        background: url("#{$imagePath}icon/icon-bag.png") no-repeat center center;
        width: 160px;
        height: 160px;
        text-align: center;
        display: table;
        margin: 25px auto;
    }
    .nav-tabs{ margin: 0 auto;  border-radius: 25px; border:  none;
    }
    .nav-tabs>li>a{
        margin: 0;
        line-height: 1;
        border-radius: 0;
        padding: 10px 30px;
        border: 1px solid #ddd;
        min-width: 125px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        background: #ddd;
    }
    .nav-tabs>li.active>a{
        background: $background!important; color: #fff; border-color: $background;
    }
    .tab-content {
        padding: 0 10px;
        margin-top: 30px;
        z-index: 2;
        border: none;
        border-top: 0px;
    }
    .segmented-control .control-item.active{ background: #ddd; }
    .form-login{
        .form-pw,
        .form-user{
           
            padding-bottom: 10px;
            position: relative;
            padding-#{$left}: 30px;
            &:before{
                background: url("#{$imagePath}icon/sprites.png") no-repeat center;
                content: "";
                position: absolute;
                #{$left}: 0;
                top: 30px;
            }
        }
        .form-user{
            border-bottom: 1px solid #ededed;
            &:before{
                background-position: -16px -20px ;
                width: 17px;
                height: 20px;
            }
        }
        input.form-control{ 
            box-shadow: none;
            padding-#{$left}: 15px;
        }
         @-webkit-keyframes autofill {
            to {
                color: #666;
                background: transparent;
            }
        }

        input:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }
        .form-pw{
            &:before{
                background-position: -16px -66px ;
                width: 17px;
                height: 22px;
            }
        }
        label{
            font-size: 14px;
            color: #7d7d7d;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
        }
    }
    
}

.btn.btn-sn{
    @extend .buttonsn;
}  

.breadcrumb + h1{
	font-size: 18px;
    margin-top: 20px;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
}
#content > h2,
#content > h1{
	font-size: 18px;
    margin-top: 20px;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
}

/*PAGE SEARCH*/
.platform-ios{
	> h3{
		font-size: 18px;
	    margin-top: 20px;
	    color: #222;
	    text-transform: uppercase;
	    font-weight: bold;
	}
}
.product-search{
	#button-search{ margin: 20px 0 10px; }
}
.btn-sn.btn-revo{ width: 50%; float: $left; }
.bar .btn-link{ font-size: 14px; color: #666; }
.btn-sn ~ .btn-sn{    width: calc(50% - 5px);margin-left: 5px;}

.affiliate-login,
.account-forgotten,
.account-address,
.account-order,
.account-download,
.account-reward,
.account-return,
.account-transaction,
.account-recurring,
.account-newsletter,
.account-wishlist,
.account-password,
.account-edit,
.account-register{
    fieldset{ border: none; padding: 0; margin: 0; }
    legend{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: #222;
        margin-bottom: 10px;
    }
    
    .buttons{
        .btn.btn-default,
        .btn.btn-primary{
            margin: 10px 0;
            @extend .buttonsn;
            min-width: 100px;
            padding: 0 15px;
        }
    }
}
.checkout-cart .erro-image{ display: none; }
.form-content{
    .input-group.btn-block{
        display: table;
        input{
           
            display: inline-block;
            border: 1px solid #ccc;
            padding: 2px 4px;
            text-align: center;
            min-width: 20px;
            border-radius: 3px 0 0 3px;
            @include if-rtl{ border-radius: 0 3px 3px 0; }
        }
    }
}

.form-accordion{ margin: 10px 0;
    .panel-default > .panel-heading{ background: #eee; border-radius: 0; }
}
.btn-cart{
    .btn.btn-primary,
    .btn.btn-default{
        @extend .btnsn;
    }
}
